<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/detail.css">
    <link rel="shortcut icon" href="/img/pokedex.png" type="image/x-icon">
    <title>Detalle</title>
</head>
<body>

    <%- include ("./partials/navbar") %>

    <main>

        <section>
          <div class="caja-princ-pokemon">
            <div class="info-prin">
                <div class="name-pokemon">
                    <p><%= result.name %> <span>ID: <%= result.id %></span></p>
                </div>
            </div>
            <div class="detail-pokemon">
                <div class="image-pokemon">
                    <img src="<%= result.imageUrl %>">
                </div>
                <div class="poke-info">
                    <ul>
                     <div class="first-part">
                        <li>Tipo: 
                            <p><%= result.types %></p>
                        </li>
                        <li>Altura:
                            <p><%= result.height %></p>
                        </li>
                        <li>Peso:
                            <p><%= result.weight %></p>
                        </li>
                        <li>Descripción:
                            <p><%= result.desc %></p>
                        </li>
                        <li>Habilidades: 
                            <p><%= result.ability %></p>
                        </li>
                        <li>Cadena Evolutiva:
                            <p><%= result.evolution %></p>
                        </li>
                     </div>
                        <!-- <li>Stats: <%= result.stats %></li> -->
                       <!-- <li>Movimientos: <%= result.moves %></li> -->
                    </ul>
                </div>
            </div>
           </div>
        </section>
    </main>
</body>
</html>